
<!DOCTYPE html>
  <html>
    <head>
      <title>It's a CD Box!</title>
    </head>
    <body>
      <h1>CD Box</h1>
      <h3><a href="/genres">View Genres</a><h3>
      <h3><a href="/genres/new">Add a new genre</a><h3>
    </body>
  </html>
