<h1>Add a Genre</h1>
<p>Add a genre here:</p>

<form action="/genres" method="post">
    <label for="genreName">Category name</label>
    <input id="genreName" name="genreName" type="text">
    <button type="submit">Add</button>
</form>

<p><a href="/">Back Home</a></p>
<p><a href="/genres">Back to categories</a></p>
